.profile-container{
    padding: 1rem;
    /* margin-top: 2rem; */
    max-width: 100vw;
}
.user-holder{
    padding: 1.2rem;
    padding-left: 3.5rem;
}
.user-holder > img {
    margin-left: 1rem;
}
.btn-2{
    background-color: white;
    color: black;
    cursor: pointer;
}
.btn-2:hover{
    border: 5px solid rgb(6, 35, 6);
}
.keep-color:hover > svg{
    fill: rgb(6, 35, 6);
}
.active-txt{
    font-weight: 500;
    color: #062306;
}
.cursor{
    cursor: pointer;
}
.wieght-500{
    font-weight: 500;
}
.container-1{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.container-1 > div{
    margin-top: auto;
}
.active-content{
    padding-bottom: .1rem;
    border-bottom: 1px solid gray;
}
.c-pointer{
    cursor: pointer;
}
@media (max-width:769px) {
    .user-holder{
        padding-left: 1.2rem;
    }
    .dynamic-p{
        margin-left: 0 !important;
    }
    .no-gutter{
        padding-top: .2rem !important;
    }
}
.no-gutter{
    --bs-gutter-x: 0 !important;
}
