.chat-search{
    width: 90%;
    height: 100%;
    padding: .4rem;
    border: none;
    border-bottom: solid 1px gray;
}
.border-no-bottom{
    border-bottom: none;
}
.border-no-top{
    border-top: none;
}
.border-no-left{
    border-left:none !important;
}
.border1-bottom{
  border-bottom : 2px solid rgba(14, 4, 5, .2)
}

.border1-up{
    border-top: 2px solid rgba(14, 4, 5, .2)
  }

.chat-filter:hover {
    background-color: #c8f8f6;
}

.active_item {
    border: .5px solid black;
    background-color: #c8f8f6;
}
.active-chat{
    /* border: .3px solid black; */
    background-color: #e3fffefb;
}

.chat-filter {
    border: .5px solid lightgray;
    cursor: pointer;
    border-radius: 9px !important;
    font-size: medium !important;
    padding: .2rem .8rem;
    width: fit-content;
    border-radius: 4px;
    margin-right: .4rem;
}
.users-holder{
   padding-bottom: .5rem;
}
.no-p>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.chat-height{
    min-height: calc(100vh - 7rem);
    max-height: calc(100vh - 7rem);
}
.chat-container{
    margin-top: .2rem !important;
    justify-content: center;
    margin-bottom: 0 !important;
}
.y-hidden{
    overflow-y: hidden !important;
}
.chat-room-reciever-holder{
    display: flex;
    /* border-radius: .8rem; */
    gap: .8rem;
    margin-bottom: .4rem;
    align-items: center;
    /* border:solid 1px gray ; */
    padding: .6rem .3rem;
}
.chat-room-name{
    font-size: larger !important;
}
.chat-room{
    margin-top: .4rem;
    /* height: 100%; */
}
.chat-one-header{
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: .6rem 1rem;
}
.username-chat-header{
    font-size: x-large !important;
}
.chatrooms-holder{
    overflow-y: hidden;
}

.olx-messenger{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chat-body{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: 82%;
    overflow-y: scroll;
    padding: .8rem;
}
.olx-messenger > footer {
    padding: .6rem;
}
.olx-messenger > footer > form > input { 
    width: 85%;
    background-color: inherit;
    font-family: monospace;
    border: none;
    font-size: x-large;
}
.send-btn{
    border:solid .01rem gray;
    padding: .4rem .7rem;
    float: right    ;
    border-radius: .4rem;
    background-color: #c8f8f6;
}
.overflow-y-hidden{
    overflow-y: hidden;
}

.user-msg{
    margin-right: 1rem;

    border-radius: .8rem;
    border-bottom-right-radius: 0;
    align-self: end;
    background-color: #c8f8f6;
    width: fit-content;
    padding: .4rem .7rem;
}
.reciever-msg{
    margin-left: 1rem;
    border-radius: .8rem;
    border-bottom-left-radius: 0;
    background-color: #c8f8f6;
    width: fit-content;
    padding: .4rem .7rem;

}
.time{
    font-size: smaller !important;
    font-weight: initial;
}
.name{
    font-weight: 600;
}
@media (max-width:992px) {
    .dynamic-chat{
        display: none;
    }
    .border-no-left{
        border-left: 2px solid rgba(14, 4, 5, .2) !important;
        
    }
    .chat-one-back{
        display: block !important;
    }
    .user-home-container{
        margin: 0.02rem !important;
    }
    .thetext{
        width: 80%;
        padding: .8rem;
    }
}
.o-scroll{
    overflow: scroll;
}
@media (max-width:400px) {
    .check-p{
        padding: .4rem !important;
    }
  
}
@media (max-width:500px) {
    .messenger{
        width: 78% !important;
        font-size: large !important;
    }
    .send-btn{
        /* padding: .2rem .4rem; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .name{
        font-size: medium !important;
    }
    .chat-height{
        height: calc(100vh - 98px);
        
    }
    .user-msg{
        margin-right: .4rem;
    }
    .reciever-msg{
        margin-left: .4rem;
    }
    .chat-body{
        padding: .4rem;
    }
    .olx-messenger > footer{
        padding-top: .3rem;
        padding-bottom: .3rem;
    }
}
.send-btn > svg{
    margin-left: 0.2rem;
    margin-top: 0.1rem;
}
.send-btn{
    font-family: monospace;
    display: flex;
}

.thetext{
    padding: .8rem;
}